*

!.gitignore

!albert/
!albert/**

!cava/
!cava/**

!fish/
!fish/**

!hypr/
!hypr/**

!kitty/
!kitty/**

!nvim/
!nvim/**

!tmux/
!tmux/**

!waybar/
!waybar/**

!wallpaper/**

!starship.toml
!.tmux.conf
!README.md
!LICENSE
!.zshrc

