* {
  border: none;
  border-radius: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 9px;
  font-weight: 600;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: rgba(22, 22, 23, 0.70); 
  border: 1px solid rgba(181, 213, 255, .7); 
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  border-radius: 15px;
  margin: 3px 6px;
  padding: 3px; 
}

#workspaces {
  background: rgba(47, 47, 47, 0.95); 
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 0 8px;
}

#workspaces button { padding: 0 4px; color: #777777; }
#workspaces button.active { color: #ffffff; }


#window label {
  font-size: 8px;
  color: rgba(255, 255, 255, 0.895);
  padding: 0 10px;
}

#clock {
  background-color: rgba(47, 47, 47, 0.95); 
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 0 15px; 
  color: #ffffff;
  font-size: 8px;
}

.modules-center {
  padding: 3px; 
}

#mpris > box > carousel > widget {
  background-color: rgba(47, 47, 47, 0.95); 
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 4px; 
}

#mpris {
  padding: 0 10px; 
  font-size: 8px; 
  color: rgba(255, 255, 255, 0.895); 
}



#pulseaudio, #network, #cpu, #memory, #battery {
  background: rgba(47, 47, 47, 0.95); 
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0 8px;
  font-size: 8px;
}

#pulseaudio {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#battery.good {
  color: #a6e3a1; 
}

#battery.warning {
  color: #f9e2af; 
}

#battery.critical {
  color: #f38ba8; 
}

#battery.critical:not(.charging) {
  color: #f38ba8; 
}

#battery {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

tooltip {
  background: rgba(22, 22, 23, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}